<div class="row">
  <div class="col-sm-11">
    <app-dropdown [options]="categories$ | async" (selected)="onCategoryChange($event)" filterAttribute="category"></app-dropdown>
    <app-dropdown *ngIf="(selectedCategory?.subcategories?.length || 0) > 0" [options]="selectedCategory?.subcategories" (selected)="onSubcategoryChange($event)" filterAttribute="name"></app-dropdown>
    
    <select #difficulty id="difficultySelect">
      <option>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <button class="primary" id="createBtn" (click)="createQuiz(difficulty.value)">Create</button>
  </div>

</div>
<div class="row">
   <app-quiz *ngIf="questions$ |async as questions" [questions]="questions" [categoryId]="categoryId" [difficulty]="difficulty.value"></app-quiz>
</div>
